body {
    // font-family: 'Crimson Text', serif;
    font-family: 'Nanum Gothic', serif;
    margin: 0;
}

.App {
}

.projHead {
}

.projects {
  // font-size: 1.6rem;
  width: 100%;
}

img {
  width: 100%;
}

.row {
  margin-top: 2vh;
}

footer {
  padding: 15px 20px;
  color: #bbb;
  background-color: black;
  font-size: .85rem;
}

@media only screen and (min-width: $md-min-width) {
  footer {
    padding: 15px 40px;
  }
}

footer p {
  margin: 0;
}

footer img {
  width: auto;
  margin-left: 12px;
}

.section {
  padding-top: 56px;
}

.section-inner {
  padding-top: 7vh;
}
