
footer {
  padding: 15px 20px;
  color: #bbb;
  background-color: #f2f2f2;
  font-size: .85rem;
  text-align: center;
}

@media only screen and (min-width: $md-min-width) {
  footer {
    padding: 15px 40px;
  }
}

footer p {
  margin: 0;
}

footer img {
  width: auto;
  margin-left: 12px;
}
