#home {
  background-image: url(./../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
}

#home-text {
  padding-top: 7vh;
}
