.jumbotron {
  background-image: url(./../images/header.png);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* TODO: Remove? Move somewhere else? */

.jumbotron .desc {
  /*margin: 15px 3vw 0 3vw;*/
  text-align: justify;
  font-size: 1.2rem;
  font-weight: normal;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron .lead {
  font-size: 2.1rem;
  font-weight: normal;
}
